<template>
    <div id="signup">
        <form @submit.prevent="loginUser">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required v-model="user.email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required v-model="user.password">
            </div>
            <div class="alert alert-denger" role="alert" v-if="error">
                <strong>Upss!</strong> Password wrong.
            </div>
            <button type="submit" class="btn btn-primary">Sign-in</button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'sign-up',
    data() {
        return {
            user: {
                email: '',
                password: ''
            },
            error: false
        }
    },
    methods: {
        loginUser() {
            firebase.auth().signInWithEmailAndPassword(this.user.email, this.user.password)
                .then( response => {
                    const sett = {
                        email:response.email,
                        uid: response.uid,
                        mainPage: true,
                        complete: true
                    };
                    this.$emit('addUser', sett)
                } )
        }
    }
}
</script>

<style lang="scss">

</style>
