<template>
    <div id="signup">
        <form @submit.prevent="registerUser">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required v-model="user.email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required v-model="user.password">
            </div>
            <div class="form-group">
                <label for="double-password">Re-enter Password</label>
                <input type="password" class="form-control" id="double-password" placeholder="Password" required v-model="user.confirmPassword">
            </div>
            <div class="alert alert-denger" role="alert" v-if="error">
                <strong>Upss!</strong> Password wrong.
            </div>
            <button type="submit" class="btn btn-primary">Sign-up</button>
        </form>
    </div>
</template>

<script>
export default {
    name: 'sign-up',
    data() {
        return {
            user: {
                email: '',
                password: '',
                confirmPassword: ''
            },
            error: false
        }
    },
    methods: {
        registerUser() {
            if (this.user.password !== this.user.confirmPassword || this.user.password.length < 6) {
                this.error = true;
            } 
            else {
                firebase.auth().createUserWithEmailAndPassword(this.user.email, this.user.password)
                    .then( () => {
                        this.$emit('redSuccess', 'sign-in');
                    })
                    .catch( error => {
                        console.log(error);
                    })
            }
        }
    }
}
</script>

<style lang="scss">

</style>
