<template>
  <div id="app"> 
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-4" v-if="!signComplete">
          <button class="btn btn-primary" @click="switchSign('sign-in')">sign in</button>
          <button class="btn" @click="switchSign('sign-up')">sign up</button>
        </div> 
        <span class="col-4" v-else>{{ email }}</span>      
      </div>
    </div>
    <div class="container" v-if="!isMainPage">
      <vue-signin v-if="sign === 'sign-in'" @addUser="isMainPage = $event.mainPage, signComplete = $event.complete, email = $event.email, uid = $event.uid"></vue-signin>
      <vue-signup v-else @redSuccess="sign = $event"></vue-signup>
    </div> 
    <div class="container" v-else>
      <div class="row">
        <div class="col">
          <vue-mainpage :uid="uid"></vue-mainpage>
        </div>
      </div>
    </div>  
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      sign: 'sign-in',
      isMainPage: false,
      signComplete: false,
      email: '',
      uid: ''
    }
  },
  methods: {
    switchSign(sign) {
      this.sign = sign;
    }
  }
}
</script>

<style lang="scss">
  @import url("../node_modules/bootstrap/dist/css/bootstrap.css");
  body {
    margin-top: 30px; 
  }
</style>
